/* -------------------- 
      BASE RESET 
-------------------- */

* {
    margin: 0 auto; 
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans';
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
/* -------------------- 
       NAVIGATION 
-------------------- */
  .site-header {
    display: flex;
    background-color: #022845;
    padding: 0rem 4rem;
    // height: 8rem;
  }
  
  #title {
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 2rem;
    margin: 0;
    flex: 1;
    // flex-basis: 30%;
  }
  
  .nav-bar {
    margin: 0;
    padding: 0;
    flex: 2;
    // flex-basis: 70%;
  }
  
  .nav-menu {
    display: flex;
    margin: 0;
    height: 100%;
  }
  
  .nav-links {
    list-style: none;
    margin: auto 0;
    height: 100%;
    // padding: 1.5rem 3rem;
    
  }
  
  .links {
    height: 100%;
    font-size: 2rem;
    text-decoration: none;
    color: #CDE3FF;
    display: inline-block;
    padding: 2rem 6rem;
    line-height: 2;
  }

  .links:hover {
    background-color: #021E33; 
    color: white;
  }
  
/* -------------------- 
    RESPONSIVE NAV 
-------------------- */
  @media screen and (max-width: 1000px) {
    
    #title {
    font-size: 2rem;
    font-weight: 600;
    flex: 1;
  }
    
    .nav-menu {
      padding: 0;
    }
    
    .links {
    height: 100%;
    font-size: 1.5rem;
    padding: 2rem 3rem;
    }  
  }
  
  @media screen and (max-width: 600px) {
    .site-header {
      flex-direction: column;
      align-items: center;
    }
    
    #title {
    padding: 2rem 0rem 1rem 0rem;
    }
    
    .links {
    padding: 1rem 3rem;
    } 
  }
  
/* -------------------- 
      MAIN CONTENT 
-------------------- */
  main {
    height: 100vh;
    min-height: 200px;
  }
  
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 0rem 3rem;
  }
  
  .container > h2 {
    font-size: 6rem;
    text-align: center;
  }

  #btn-group {
    display: flex;
    column-gap: 20px;
  }
    
  @media screen and (max-width: 1200px) {
    .container > h2 {
    font-size: 4rem;
    }
  }
    
    @media screen and (max-width: 600px) {
    .container > h2 {
    font-size: 3rem;
    }
  }
  
  #main-text {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }
  
  .btn {
    background-color: #022845;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: 'Open Sans';
    color: #CDE3FF;
    text-decoration: none;
    padding: 1.5rem 6rem;
    
    &:hover {
      background-color: #021E33; 
      color: white;
    }
  }